<footer class="footer footer-big footer-color-black" data-color="black">
  <div class="container">
      <div class="row">
          <div class="col-md-2 col-sm-3">
              <div class="info">
                  <h5 class="title">Malebra</h5>
                  <nav>
                      <ul>
                          <li>
                              <a href="#">Inicio</a></li>
                          <li>
                              <a href="#">Ofertas</a>
                          </li>
                          <li>
                              <a href="#">Productos</a>
                          </li>
                          
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-md-3 col-md-offset-1 col-sm-3">
              <div class="info">
                  <h5 class="title"> Ayuda</h5>
                   <nav>
                      <ul>
                          <li>
                              <a href="#">Contactanos</a>
                          </li>
                          <li>
                              <a href="#">Trabaja con Nosotros</a>
                          </li>
                          <li>
                              <a href="#">Condiciones</a>
                          </li>
                          <li>
                              <a href="#">Politicas</a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-md-3 col-sm-3">
              <div class="info">
                  <h5 class="title">Tweets Recientes</h5>
                  <nav>
                      <ul>
                          <li>
                              <a href="#">
                                  <i class="fa fa-twitter"></i> <b>Rafael Ruedas</b> Una empresa seria con productos muy ecónomicos...
                                  <hr class="hr-small">
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-twitter"></i>  <b>Angelica Torrado</b>! Gracias, buena atención...
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-md-2 col-md-offset-1 col-sm-3">
              <div class="info">
                  <h5 class="title">Siguenos</h5>
                  <nav>
                      <ul>
                          <li>
                              <a href="https://www.facebook.com/MalebraPC/" class="btn btn-social btn-facebook btn-simple" target="_blank">
                                  <i class="fa fa-facebook-square"></i> Facebook
                              </a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                  <i class="fa fa-instagram"></i> Instagram
                              </a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-social btn-twitter btn-simple">
                                  <i class="fa fa-twitter"></i> Twitter
                              </a>
                          </li>
                          <li>
                              <a href="#" class="btn btn-social btn-reddit btn-simple">
                                  <i class="fa fa-google-plus-square"></i> Google+
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <hr>
      <div class="copyright">
           © <script> document.write(new Date().getFullYear()) </script> Malebra
      </div>
  </div>
</footer>
