<app-menu-interno></app-menu-interno>

<div class="container-fluid">
    <div class="centrado">
        <!-- <img src="assets/img/slider/banner-quienes.jpg" alt="Malebra"> -->

    </div>

</div>
<div class="container">


    <div class="list-group">
        <h1 class="list-group-item">
          <i class="fa fa-cog fa-fw fa-street-view" aria-hidden="true"></i>¿Quienes Somos?</h1>
        <p class="list-group-item"><strong>Malebra LTDA</strong>, fundada en el año 2017, es uno de los minoristas más importantes de la región en productos, servicios
          y soluciones de tecnología. </p>
      </div>




  <div class="list-group">
    <h1 class="list-group-item">
      <i class="fa fa-cog fa-fw" aria-hidden="true"></i>Misión</h1>
    <p class="list-group-item">Brindar a nuestros clientes excelente calidad ofreciendo equipos de computación, nos preocupamos por entregarles día
      a día, tranquilidad y seguridad. </p>
  </div>



  <div class="list-group">
    <h1 class="list-group-item">
      <i class="fa fa-cog fa-fw fa-line-chart" aria-hidden="true"></i>Visión</h1>
    <p class="list-group-item">Consolidarnos como una empresa que brinda soluciones informáticas a compañías y personas en todo el territorio nacional,
      importando productos e innovando siempre con nuevas tecnologías. </p>
  </div>


</div>