<div class="container">

    <h1 class="title">
        Apoyados por:
    </h1>

    <div class="patrocinadores">
      <div class="logos">
        <img src="assets/img/patrocinadores/ufpso.jpg" alt="">
      </div>
      <div class="logos">
          <img src="assets/img/patrocinadores/gidse.jpg" alt="">
      </div>
      <div class="logos">
          <img src="assets/img/patrocinadores/rota.jpg" alt="">
      </div>
      <div class="logos">
          <img src="assets/img/patrocinadores/die.jpg" alt="">
      </div>
    </div>


</div>
<hr>  