.nuestros-valores{
    background: #000;
    /* height: 20rem; */
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}







.col{
    background: rgb(4, 24, 21);
    width: 100%;
    /* height: 280px; */
    
    /* height: 30rem; */
    /* display: inline-flex; */
}


.clase1{
    background-image: url(/assets/img/nuestros-valores/madre.jpg);
    background-size: cover;
    background-position-x: -7rem;
}



.text{
    min-width: 274px;;
  
}
.clase2{
    background-image: url(/assets/img/nuestros-valores/confianza.jpeg);
    background-size: cover;
    background-position-x: -5rem;
    
}

.clase3{

        background-image: url(/assets/img/nuestros-valores/computer.jpeg);
        background-size: cover;
        background-position-x: -5rem;
        
 
}



.clase4{
    background-image: url(/assets/img/nuestros-valores/microsoft.jpeg);
    background-size: cover;
    background-position-x: -5rem;
}
/* .clase5{
    
} */
/* .clase6{
    
} */
/* .clase7{
    
} */


h1{
    color: #247b74;
    text-align: center;
    font-weight: 300;
    
}


p{
    color: rgb(213, 213, 213);
    font-size: 2rem;
    line-height: 1.4em;
    padding: 1rem;
    text-align: center;
    font-weight: 300;
} 