<div class="container">
  <div class="row">
    <h1 class="title">
      Este es nuestro equipo de trabajo
      <br>
      <small>Conoce cosas interesantes de nuestro equipo</small>
    </h1>
    <div class="col-sm-10 col-sm-offset-1">





      <div class="col-md-4 col-sm-6">
        <div class="card-container manual-flip">
          <div class="card">
            <div class="front">
              <div class="cover">
                <img src="assets/img/equipo-trabajo/rotating_card_thumb.png" />
              </div>
              <div class="user">
                <img class="img-circle" src="assets/img/equipo-trabajo/rotating_card_profile2.png" />
              </div>
              <div class="content">
                <div class="main">
                  <h3 class="name">Leoneider Trigos</h3>
                  <p class="profession">Web Developer</p>
                  <p class="text-center">"Lamborghini Mercy
                    <br>Your chick she so thirsty
                    <br>I'm in that two seat Lambo"</p>
                </div>
                <div class="footer">
                  <div class="social-links text-center">
                    <a href="#" class="facebook">
                      <i class="fa fa-facebook fa-fw"></i>
                    </a>
                    <a href="#" class="google">
                      <i class="fa fa-google-plus fa-fw"></i>
                    </a>
                    <a href="#" class="twitter">
                      <i class="fa fa-twitter fa-fw"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
           
    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>