


<div class="container">
    <h1 class="title">
        Nuestras ofertas

      </h1>
  <!-- <h1 class="text-center">Productos en Oferta</h1> -->
  <div class="productos">

    <div class="producto">
      <img src="assets/img/ofertas/1.jpg" alt="" height="229">


      <span>$ 7'340.000</span>
    </div>
    <div class="producto">
      <img src="assets/img/ofertas/2.jpg" alt="" height="229">
      <span>$ 4'200.000</span>
    </div>
    <div class="producto">
      <img src="assets/img/ofertas/3.jpg" alt="" height="229">
      <span>$ 2'700.000</span>
    </div>
  </div>

  <div class="productos">

    <div class="producto">
      <img src="assets/img/ofertas/4.jpg" alt="" height="229">


      <span class="verde">$ 3'270.000</span>
    </div>
    <div class="producto">
      <img src="assets/img/ofertas/5.jpg" alt="" height="229">
      <span class="verde">$ 2'500.000</span>
    </div>
    <div class="producto">
      <img src="assets/img/ofertas/4.jpg" alt="" height="229">
      <span class="verde">$ 1'700.000</span>
    </div>
  </div>

</div>

<hr>

